<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8" />
  <style>
    html,
    body {
      height: 100%;
      overflow: hidden;
    }
  </style>
</head>

<body>

  <script type="text/javascript">
    window.resourceBaseUrl = '{{ htmlWebpackPlugin.options.base }}';
  </script>

  <podlove-player></podlove-player>
  {{#htmlWebpackPlugin.options.files.styles}}
  <link rel="stylesheet" href="{{ htmlWebpackPlugin.options.base }}{{ . }}.css">
  {{/htmlWebpackPlugin.options.files.styles}}

  {{#htmlWebpackPlugin.options.files.scripts}}
  <script type="text/javascript" src="{{ htmlWebpackPlugin.options.base }}{{ . }}.js"></script>
  {{/htmlWebpackPlugin.options.files.scripts}}
</body>

</html>
