%button {
  box-sizing: border-box;
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  user-select: none;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:focus {
    outline:0;
  }
}

%list {
  margin: 0;
  padding: 0;

  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

@mixin range(
  $range-input-height,
  $thumb-width-desktop,
  $thumb-width-desktop-hover
) {

  // Input Range Resets
  input[type=range]::-ms-track {
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
    margin: 0;
    padding: 0;
    border: 0 none;
    background: transparent;
    color: transparent;
    overflow: visible;
  }

  input[type=range]::-moz-range-track {
    width: 100%;
    height: 100%;
    -moz-appearance: none;
    margin: 0;
    padding: 0;
    border: 0 none;
    background: transparent;
    color: transparent;
    overflow: visible;
  }

  input[type=range] {
    width: 100%;
    height: $range-input-height;
    -webkit-appearance: none;
    position: absolute;
    padding: 0;
    border: 0 none;
    color: transparent;
    overflow: visible;
    background: transparent;
    cursor: pointer;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
    background: transparent;
    border: transparent;
  }

  input[type=range]:focus {
    outline: none;
  }

  /* Make the thumbs the same size as your custom sliderthumb. They will not be visible but they will be draggable. */
  input[type=range]::-ms-thumb {
    height: $range-input-height;
    width: $thumb-width-desktop;

    cursor: -ms-grab;

    border-radius: 0px;
    border: 0 none;

    background: transparent;

    z-index: 99;

    &:hover {
      width: $thumb-width-desktop-hover;
    }

    &:active {
      cursor: -ms-grabbing;
    }
  }

  input[type=range]::-moz-range-thumb {
    height: $range-input-height;
    width: $thumb-width-desktop;

    border-radius: 0px;
    border: 0 none;

    background: transparent;

    cursor: -moz-grab;
    z-index: 99;

    &:hover {
      width: $thumb-width-desktop-hover;
    }

    &:active {
      cursor: -moz-grabbing;
    }
  }

  input[type=range]::-webkit-slider-thumb {
    height: $range-input-height;
    width: $thumb-width-desktop;

    border-radius: 0px;
    border: 0 none;

    background: transparent;
    -webkit-appearance: none;

    cursor: -webkit-grab;
    z-index: 99;

    &:hover {
      width: $thumb-width-desktop-hover;
    }

    &:active {
      cursor: -webkit-grabbing;
    }
  }

  &.mobile {
    input[type=range]::-ms-thumb {
      width: $thumb-width-mobile;
    }

    input[type=range]::-moz-range-thumb {
      width: $thumb-width-mobile;
    }

    input[type=range]::-webkit-slider-thumb {
      width: $thumb-width-mobile;
    }
  }

  /* Eliminate the default appearance and tooltip behaviour that is peculiar to IE and Edge. */
  input[type=range]::-ms-fill-lower {
    background: transparent;
    border: 0 none;
  }

  input[type=range]::-ms-fill-upper {
    background: transparent;
    border: 0 none;
  }

  input[type=range]::-ms-tooltip {
    display: none;
  }
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
