.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;

  &.column {
    flex-direction: column;
  }
}
