$size-big-width: 180px;
$size-big-cover-height: $size-big-width;
$size-big-square-rectangle-height: 54px;

$size-medium-width: 140px;
$size-medium-cover-height: $size-medium-width;
$size-medium-square-rectangle-height: 41px;

$size-small-width: 108px;
$size-small-cover-height: $size-small-width;
$size-small-square-rectangle-height: 27px;

$animation-duration: 300ms;
