$size-small-format-cover-width: 108px;
$size-small-format-cover-height: 135;

$size-medium-format-cover-width: 140px;
$size-medium-format-cover-height: 181px;

$size-big-format-cover-width: 180px;
$size-big-format-cover-height: 234px;

$size-big-width: 180px;
$size-big-height: 234px;
