$size-big-width: 180px;
$size-big-height: 234px;

$size-big-square-rectangle-height: 54px;

$size-medium-width: 140px;
$size-medium-height: 181px;

$size-medium-square-rectangle-height: 41px;

$size-small-width: 108px;
$size-small-height: 135px;

$size-small-square-rectangle-height: 27px;
