# dotfiles
.*
!.gitignore
!.github
!.jshintrc
!.eslintrc
!.eslintrc.js
!.eslintignore
!.editorconfig
!.travis.yml
!.babelrc
!.circleci
!.vuepress
!.vitebook
!.build
!.prettierrc
!.prettierignore
!.storybook
!.drone.yml
!.browserslistrc
!.eslintrc.json

coverage

# external dependencies
node_modules
bower_components

# OS and editor artefacts
*Thumbs.db
atlassian-ide-plugin.xml

# build artefacts
_site
dist
coverage
reports
publish
docs/media
gh-pages-branch

# logs
yarn-error.log
lerna-debug.log
reports.*
