<script type="text/javascript">
  window.resourceBaseUrl = '{{ base }}';
</script>

<div id="app"></div>

{{#styles}}
<link rel="stylesheet" href="{{ base }}{{ . }}.css">
{{/styles}}

{{#scripts}}
<script type="text/javascript" src="{{ base }}{{ . }}.js"></script>
{{/scripts}}

<script>
  window.iFrameResizer = {
    widthCalculationMethod: function () {
      if (document.getElementById('breakout')) {
        return window.parent.innerWidth
      }

      return document.getElementById('subscribe-button').offsetWidth
    },
    heightCalculationMethod: function () {
      if (document.getElementById('breakout')) {
        return window.parent.innerHeight
      }

      return document.getElementById('subscribe-button').offsetHeight
    }
  }

</script>
