<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <script type="text/javascript">
    window.resourceBaseUrl = '{{ root }}{{ base }}';
  </script>

  <script>
    const modernBrowser = (
      'fetch' in window &&
      'assign' in Object
    );

    if ( !modernBrowser ) {
      const scriptElement = document.createElement('script');

      scriptElement.async = false;
      scriptElement.src = '{{ root }}polyfills.js';
      document.head.appendChild(scriptElement);
    }
  </script>
</head>
<body>

  <div id="app"></div>

  {{#styles}}
  <link rel="stylesheet" href="{{ root }}{{ base }}{{ . }}.css">
  {{/styles}}

  {{#scripts}}
  <script type="text/javascript" src="{{ root }}{{ base }}{{ . }}.js"></script>
  {{/scripts}}
</body>
</html>
