<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8" />
  <style>
    html,
    body {
      height: 100%;
      overflow: hidden;
    }
  </style>

  <script type="text/javascript">
    window.resourceBaseUrl = '{{ htmlWebpackPlugin.options.root }}{{ htmlWebpackPlugin.options.base }}';
  </script>

  <script>
    const modernBrowser = (
      'fetch' in window &&
      'assign' in Object
    );

    if ( !modernBrowser ) {
      const scriptElement = document.createElement('script');

      scriptElement.async = false;
      scriptElement.src = '{{ htmlWebpackPlugin.options.root }}polyfills.js';
      document.head.appendChild(scriptElement);
    }
  </script>
</head>

<body>


  <div id="app">
    <root data-test="player--share">
      <div class="p-4 flex flex-col">
        <div class="flex flex-grow">
          <div class="w-20 mr-4">
            <poster class="rounded-sm shadow overflow-hidden"></poster>
          </div>
          <div class="w-full my-2">
            <show-title class="text-sm"></show-title>
            <episode-title class="text-base"></episode-title>
          </div>
        </div>
        <divider class="w-full my-4"></divider>
        <div class="flex w-full items-center justify-center">
          <play-button class="block mr-5" variant="simple"></play-button>
          <timer-current class="text-sm mr-5"></timer-current>
          <progress-bar class="mr-5"></progress-bar>
          <timer-duration class="text-sm"></timer-duration>
        </div>
      </div>
      <error></error>
    </root>
  </div>

  {{#htmlWebpackPlugin.options.files.styles}}
  <link rel="stylesheet" href="{{ htmlWebpackPlugin.options.root }}{{ htmlWebpackPlugin.options.base }}{{ . }}.css">
  {{/htmlWebpackPlugin.options.files.styles}}

  {{#htmlWebpackPlugin.options.files.scripts}}
  <script type="text/javascript" src="{{ htmlWebpackPlugin.options.root }}{{ htmlWebpackPlugin.options.base }}{{ . }}.js"></script>
  {{/htmlWebpackPlugin.options.files.scripts}}
</body>

</html>
