<script type="text/javascript">
  window.resourceBaseUrl = '{{ base }}';
</script>

<div id="app" data-test="player">
  {{{ template }}}
</div>

{{#styles}}
<link rel="stylesheet" href="{{ base }}{{ . }}.css">
{{/styles}}

{{#scripts}}
<script type="text/javascript" src="{{ base }}{{ . }}.js"></script>
{{/scripts}}

<script>
  {{{ resizer }}}
</script>

{{{ loader }}}
