---
import { ViewTransitions } from "astro:transitions";
import PageHeader from '../features/PageHeader.vue';
const { title } = Astro.props;
import { selectors, store }from '../logic';
const state = store.getState();
const lang = getLanguage();
import Test from '../components/Test.vue'
import { getLanguage } from "../i18n";
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <script define:vars={{ state }}>window.REDUX_STATE = state;</script>
    <ViewTransitions />
	</head>
	<body>
    <PageHeader />
    <!-- <Test client:load transition:persist /> -->
    <main transition:animate="slide">
      <slot></slot>
    </main>

    <script>
      import '../logic';
    </script>
	</body>
</html>

<style>
  :root {
    --primary-color-100: #F2F8FB;
    --primary-color-200: #D9EBF8;
    --primary-color-300: #B0D7F4;
    --primary-color-400: #87C0EA;
    --primary-color-500: #67A8D7;
    --primary-color-600: #438ABE;
    --primary-color-700: #216190;
    --primary-color-800: #0C4168;
    --primary-color-900: #042944;

    --secondary-color-100: #F5FDF5;
    --secondary-color-200: #E2F4E0;
    --secondary-color-300: #B7E0B3;
    --secondary-color-400: #98CC92;
    --secondary-color-500: #98CC92;
    --secondary-color-500: #79B273;
    --secondary-color-600: #579750;
    --secondary-color-700: #396E34;
    --secondary-color-800: #285424;
    --secondary-color-800: #072804;

    --complementary-color-100: #FFF8F6;
    --complementary-color-200: #FEE5DE;
    --complementary-color-300: #FFBFAD;
    --complementary-color-400: #F9997D;
    --complementary-color-500: #F97751;
    --complementary-color-600: #CA5D3D;
    --complementary-color-700: #9B4127;
    --complementary-color-800: #72301C;
    --complementary-color-900: #341209;

    --gray-color-100: #FFFFFF;
    --gray-color-200: #EDEFF2;
    --gray-color-300: #CAD1D7;
    --gray-color-400: #9EA5AC;
    --gray-color-500: #767F87;
    --gray-color-600: #56616A;
    --gray-color-700: #3D464D;
    --gray-color-800: #22282C;
    --gray-color-900: #070809;
  }

  main {
    min-height: calc(110vh - 100px);
  }
</style>
