@import 'variables';

.entry-enter-active, .entry-leave-active {
  transition: height $animation-duration;

  * {
    transition: opacity $animation-duration * 2;
  }
}
.entry-enter, .entry-leave-to {
  height: 0;

  * {
    opacity: 0;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity $animation-duration * 2;
  opacity: 1;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
