@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --podlove-color-primary: 230 68 21;
    --podlove-color-secondary: 26 58 74;
    --podlove-color-secondary-dark: 35 89 115;
    --podlove-color-secondary-light: 233 241 245;
    --podlove-color-shade: 128 126 124;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 300ms;
  opacity: 1;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
