$animation-duration: 300ms;

%fade-animation {
  .fade-enter-active, .fade-leave-active {
    transition: opacity $animation-duration * 2;
    opacity: 1;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
}
