$height: 44px;
$track-height: 2px;
$thumb-height: 14px;
$thumb-width: 6px;
$thumb-active-height: 18px;
$thumb-active-width: 8px;

$thumb-width-desktop: 25px;
$thumb-width-desktop-hover: 25px;
$thumb-width-mobile: 44px;
