---
import Layout from '../../../layouts/Layout.astro';
import EpisodeList from '../../../screens/archive/List.vue';
import { actions, selectors, store } from '../../../logic';
import HeroIndex from '../../../screens/archive/Hero.vue';
import LoadMore from '../../../screens/archive/LoadMore.vue';

const state = store.getState();
const title = selectors.podcast.title(state);
const favicon = selectors.podcast.poster(state);
const description = selectors.podcast.description(state);

store.dispatch(actions.router.setRoute(['feed']));
---
<Layout title={title} favicon={favicon} description={description}>
	<HeroIndex  />

  <div class="flex justify-center">
    <EpisodeList client:idle />
  </div>

  <LoadMore class="flex justify-center mb-8" client:idle />
</Layout>

<style>

</style>
